.login {
    width: 500px;
    max-width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 25px;
    margin-top: 190px;
}

.login input, .login button {
    margin: 7px 0px;
}

.editar input {
    margin: 10px 0px;
}